a, i {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus,
button:active,
input:active,
textarea:active,
button:hover,
input:hover,
textarea:hover{
   outline: none;
    box-shadow: none;
}
textarea {
  min-height: 50px;
}

h1 {
  font-size: 35px;
  line-height: 0.8;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

p {
  margin: 0 0 1em;
}

ol:not([class]) {
  list-style-type: decimal;
}

ul:not([class]) {
  list-style-type: disc;
}

.container {
  max-width: 2080px;
  margin: 0 auto;
  padding: 15px 30px;
}

